:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #32C36C;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #F6F7F8;
    --bs-dark: #1A2A36;
}
/* Start Box */
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-c {
    align-items: center;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.d-block {
    display: block;
}
@media (max-width:767px) {
    .block-mobile {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}
/* End Box */
/* Start Padding + Margin */
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.m-0 {
    margin: 0;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 15px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-6 {
    margin-bottom: 6px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-15 {
    margin-left: 15px;
}
/* End Padding + Margin */
/* Start Color */
.bg-dark {
    background-color: var(--bs-dark);
}
.bg-primary {
    background-color: var(--bs-primary)
}
.c-gray {
    color: var(--bs-gray);
}
.c-primary {
    color: var(--bs-primary);
}
.c-white {
    color: var(--bs-white);
}
/* End Color */
/* Start Font */
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-17 {
    font-size: 17px;
}
.fs-25 {
    font-size: 25px;
}
.text-c {
    text-align: center;
}
@media (max-width:767px) {
    .text-c-mobile {
        text-align: center;
    }
}
.fw-bold {
    font-weight: bold;
}
.fw-normal {
    font-weight: normal;
}
/* End Font */
/* Start Position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
/* End Position */
/* Start Border */
.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.rad-half {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.b-none {
    border: none;
}
.border-ccc {
    border: 1px solid #ccc;
}
.border-eee {
    border: 1px solid #eee;
}
.bt-eee {
    border-top: 1px solid #eee;
}
.bb-eee {
    border-bottom: 1px solid #eee;
}
/* End Border */
/* Start Components */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.button {
    padding: 20px 50px;
    border: none;
    background-color: var(--bs-primary);
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
/* End Components */
/* Start Width + height */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.w-fit {
    width: fit-content;
}
.h-full {
    height: 100%;
}
.w-100 {
    width: 100px;
}
.h-100 {
    height: 100px;
}
/* End Width + height */